<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href='../static/css/main.css'>
    <link rel="stylesheet"  href='../static/css/login.css'>
  </head>
  <body>
    <div class="container">
      <div class="container_form">
        <div class="container_header">
          <h1>USER LOGIN</h1>
        </div>
        <form class="input_container" action="/login" method="POST">
          <input class="text_input" type="email" name="email" placeholder="Email">
          <input class="text_input" type="password" name="password" placeholder="Password">
          <input class="button_input" type="submit" value="Log in">
        </form>
          <a class="navigate_tag" href="{{url_for('register_user')}}"> Register</a>
      </div>
    </div>
  </body>
</html>


